
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<body>

    <div>
        @Html.ActionLink("Index", "Index", "Home")
        <br />
        <hr />
        @Html.ActionLink("Contacts", "Contacts", "Home")
    </div>
</body>

