
@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts</h2>

<body>

    <div>
        @Html.ActionLink("About", "About", "Home")
        <br />
        <hr />
        @Html.ActionLink("Index", "Index", "Home")
    </div>
</body>