
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.Action("ShowTable", new { n = 10 });
        <br />
        <hr />
        @Html.Action("ShowList", new { n = 10 });
    </div>
</body>
</html>
