
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<body>

    <div>
        @Html.ActionLink("Delete", "Delete", "Products")
        <br />
        <hr />
        @Html.ActionLink("ProductsIndex", "Index", "Products")
        <br />
        <hr />
        @Html.ActionLink("AreaIndex", "Index", "Home")
        <br />
        <hr />
    </div>
</body>