
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<body>

    <div>
        @Html.ActionLink("ProductsIndex", "Index", "Products")
        <br />
        <hr />
        @Html.ActionLink("Create", "Create", "Products")
        <br />
        <hr />
        @Html.ActionLink("AreaIndex", "Index", "Products")
        <br />
        <hr />
</body>